.tittle_welcome_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 250px;
  /* min-width: 320px; */
  height: auto;
  /* margin-bottom: 10px; */
  margin: auto;
  padding: 0.1rem;
  /* border: 1px solid white; */
}

.tittle_welcome_container img {
  width: 40px;
  height: 60px;
  margin-right: 10px;
}

.tittle_welcome_container h1 {
  font-size: 21px;
  font-weight: 300;
  line-height: 20px;
  color: #ffffff;
}
@media (min-width: 900px){
  .tittle_welcome_container img {
    width: 60px;
    height: 80px;
    margin-right: 10px;
  }
  .tittle_welcome_container h1 {
    font-size: 23px;
  }
}
